global:
  scrape_interval: 15s
evaluation_interval: 15s

rule_files:
  - alerts/index-node-rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: indexflow_index_node
    metrics_path: /metrics
    static_configs:
      - targets:
          - index-node:4000
